@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Anfrage

<p>KundeName: @Model.KundenName</p>
<p>Email von Kunde: @Model.Email</p>
<p>Telefon: @Model.Telefon</p>
<p>@Model.Nachricht</p>

<button><a asp-action=""></a></button>