<form asp-action="Kommentar" method="post">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Kommentar</span>
        </div>
        <input type="text" class="form-control" aria-label="Kommentar" aria-describedby="inputGroup-sizing-sm" name="kommentar">
    </div>
    <button type="submit">Kommentieren</button>

</form>


<button><a asp-action="AnfragenTabelle">Zurück zur Tabelle</a></button>