@model MitarbeiterDaten

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
            <form asp-action="CheckLogin" asp-controller="Home" method="post" class="form-group">
                <div class="mb-3">
                    <input type="text" asp-for="@Model.UserName" class="form-control bg-light" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" asp-for="@Model.Passwort" class="form-control bg-light" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

