
@{
    Layout = "_Eingeloggt";
}
@model MitarbeiterDaten

<div class="d-flex justify-content-center align-items-center" style="min-height: 20vh;">
    <form asp-controller="Admin" asp-action="Mitarbeiter">
        <div class="form-group">
            <select asp-for="@Model.Nachname" class="form-select w-100">
                @foreach (var m in MitarbeiterListe.ListMitarbeiter)
                {
                    <option value="@m.Nachname" class="text-center">@m.Nachname</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Bestätigen</button>
    </form>
</div>
