@{
    Layout = "_Eingeloggt";
}
@model MitarbeiterDaten

<form asp-controller="Admin" asp-action="Mitarbeiter">

    <div class="form-group">

        <select asp-for="@Model.Nachname">
            @foreach (var m in MitarbeiterListe.ListMitarbeiter)
            {
                <option value="@m.Nachname">@m.Nachname</option>
            }
        </select>

    </div>
    <button type="submit" class="btn btn-primary mt-3">Bestätigen</button>
</form>