/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body[b-1qkq0ui2my] {
    padding-top: 85px;
    margin-top: 20px;
}



.navbar[b-1qkq0ui2my] {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

a.navbar-brand[b-1qkq0ui2my] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: block;
    margin: 0 auto;
}

a[b-1qkq0ui2my] {
    color: white;
}

.btn-primary[b-1qkq0ui2my] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1qkq0ui2my], .nav-pills .show > .nav-link[b-1qkq0ui2my] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-1qkq0ui2my] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-1qkq0ui2my] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1qkq0ui2my] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1qkq0ui2my] {
    font-size: 1rem;
    line-height: inherit;
}

footer[b-1qkq0ui2my] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: white;
}
